@model GlobalGames.Dados.Entidades.Orcamento;

    @{
        ViewData["Title"] = "Serviços";
    }

    <section id="main">
        <div class="container">
            <article id="main-col">
                <h1 class="titulo">Serviços</h1>
                <ul id="servicos">
                    <li>
                        <h3>Jogos Unity</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima nulla consequuntur adipisci atque illo, cumque placeat, exercitationem qui harum deserunt, ab quae! Est necessitatibus vero quisquam similique placeat.</p>
                        <p>Preços: 1000&euro; - 3000&euro;</p>
                    </li>
                    <li>
                        <h3>Unreal Engine</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima nulla consequuntur adipisci atque illo, cumque placeat, exercitationem qui harum deserunt, ab quae! Est necessitatibus vero quisquam similique placeat.</p>
                        <p>Preços: 1000&euro; - 3000&euro;</p>
                    </li>
                    <li>
                        <h3>Personagens</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima nulla consequuntur adipisci atque illo, cumque placeat, exercitationem qui harum deserunt, ab quae! Est necessitatibus vero quisquam similique placeat.</p>
                        <p>Preços: 1000&euro; - 3000&euro;</p>
                    </li>
                </ul>
            </article>

            <aside id="sidebar">
                <div class="dark">
                    <h3>Peça um orçamento</h3>
                    <form asp-action="Servicos" class="orcamento">
                        <div>
                            <input asp-for="Nome" type="text" placeholder="Nome">
                            <label asp-for="Nome"></label>
                        </div>
                        <div>
                            <input asp-for="Email" type="email" placeholder="Endereço de email">
                            <label asp-for="Email"></label>
                        </div>
                        <div>
                            <label asp-for="Mensagem">Mensagem</label><br>
                            <textarea asp-for="Mensagem" placeholder="Mensagem"></textarea>
                        </div>
                        <button class="button_1" type="submit">Enviar</button>
                    </form>
                </div>
            </aside>
        </div>
    </section>

    @section Scripts{
        <script type="text/javascript">
            document.querySelector('#servicos').className = 'selecionado';
        </script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
