@{
    ViewData["Title"] = "Sobre";
}

<section id="main">
    <div class="container">
        <article id="main-col">
            <h1 class="titulo">Sobre nós</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam adipisci consectetur dolorum corrupti molestiae facilis ex dignissimos laboriosam. Ex, esse labore. Labore alias laborum iusto neque ullam, provident voluptatem consequuntur unde, accusantium sed perferendis officia, debitis similique! Enim ipsam, totam ratione distinctio, est eveniet quibusdam, ipsa temporibus laborum recusandae quaerat magnam ut facilis in iusto.</p>
            <p class="dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fuga expedita incidunt! Suscipit quasi doloremque nostrum totam numquam corporis magni, nisi tenetur exercitationem. Officia velit rerum dignissimos? Placeat hic reprehenderit dolorem possimus consequuntur debitis neque explicabo illum soluta iusto facere, nam quos rem repudiandae delectus voluptas? Omnis quam, nemo quibusdam quasi vero est odio repudiandae, obcaecati consequatur molestiae, nulla aspernatur quia veritatis eos tempora eaque quos! Assumenda iure veniam rerum.</p>
        </article>

        <aside id="sidebar">
            <div class="dark">
                <h3>O que fazemos</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum neque deleniti dicta aliquid. Provident eligendi perspiciatis atque quam itaque tempore temporibus aut, tempora nesciunt. Nemo, doloremque quae? Sequi perferendis, repellendus mollitia molestias nostrum quia rerum nemo consequatur unde deleniti earum dolorum cumque esse optio est asperiores magni incidunt consequuntur. Soluta dolore dolores quia explicabo quisquam. Aut in voluptatem ratione earum, accusantium at consequuntur similique, architecto excepturi id beatae quod deserunt!</p>
            </div>
        </aside>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">
        document.querySelector('#sobre').className = 'selecionado';
    </script>
}