<!--Para criar uma View parcial ir a pasta Shared > botão direito > razor view -empty-->
<section id="newsletter">
    <div class="container">
        <h1>Subscreve a nossa newsletter</h1>
        <form>
            <input type="email" placeholder="Coloque o email...">
            <button class="button_1" type="submit">Subscrever</button>
        </form>
    </div>
</section>